@import "./variables.scss";

.section {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -1.5rem;
    overflow: hidden;
    min-height: 380px;

    @media (max-width: 992px) {
        min-height: 190px;
    }
}

.image {
    z-index: -1;
}

.text {
    color: white;
    display: flex;
    padding: 1rem;

    button {
        color: white;
    }
}